{% extends 'base.html' %}

{% block content %}
<div styles="border: 2px solid #000">
    <h1>This is the body</h1>
    <p>here is the where you put</p>
    {{some_string}}
    {{some_number}}
    {% for list_item in list_of_values %}
    {{list_item}}<br/>
    {% endfor %}
     <!--    All accounts-->
    <h5>All accounts are :</h5>
     {% for account in accounts %}
     <p>
         The username is {{account.username}} ,
         email:{{account.email}},
         password:{{account.password}}
         joined at :{{account.date_joined}}
     </p>
    {% endfor %}
        {% for error in field.errors %}
            <p style="color:red">{{error}}</p>
        {% endfor %}

  <!--    -->
    {% for list_item in list_of_values %}
     {% include 'Personal/snnipets/body_snnipets.html' with value=list_item %}
    {% endfor %}

    {% for question in questions %}
     {% include 'Personal/snnipets/body_snnipets.html' with question=question %}
    {% endfor %}

</div>
{% endblock content %}