{% extends 'base.html' %}

{% block content %}

<style type="text/css">
  .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .h3{
    text-align: center;
  }
</style>
<h2>Login</h2>
<form class="form-signin" method="post">{% csrf_token %}

  <h1 class="h3 mb-3 font-weight-normal">Login</h1>

  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

     {% for field in login_form %}
            <p>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
           </p>
         {% endfor %}
        {% if login_form.non_field_errors %}
          <div style="color: red">
            <p>{{login_form.non_field_errors}}</p>
          </div>
         {% endif %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

</form>

<div class="d-flex flex-column">
  <a class="m-auto" href="{% url 'password_reset' %}">Reset password</a>
</div>


{% endblock content %}
