<style type="text/css">
	@media (min-width: 768px) {
	  html {
	    font-size: 16px;
	  }
	}

	.pricing-header {
	  max-width: 700px;
	}

	.card-deck .card {
	  min-width: 220px;
	}

</style>

<!-- Header -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
  	{% if request.user.is_authenticated %}
  		<p>Hello, {{request.user.username}}</p>
  	{% endif %}
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
  	{% if request.user.is_authenticated %}
	  	<a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
	    <a class="p-2 text-dark" href="{% url 'account' %}">Account</a>
	    <a class="p-2 text-dark" href="{% url 'logout' %}">Logout</a>
	{% else %}
		<a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
	    <a class="p-2 text-dark" href="{% url 'login' %}">Login</a>
	    <a class="btn btn-outline-primary" href="{% url 'register' %}">Register</a>
	{% endif %}

  </nav>
</div>


















<!--{% include 'Personal/snnipets/head_snippets.html' %}-->
<!--<h1>This is the Header</h1>-->

<!--{% if  request.user.is_authenticated %}-->
<!--	<p><a href="{% url 'home' %}">Home</a></p>-->
<!--	<a href="{% url 'account' %}">Account</a></p>-->
<!--	<p>Hello ,{{request.user.username}}|-->
<!--		<a href="{% url 'logout' %}" >Logout</a>-->
<!--	</p>-->
<!--	{% else %}-->
<!--	<p>-->
<!--		<a href="{% url 'home' %}">Home</a></p>-->
<!--		<a href="{% url 'register'%}">Register</a>-->
<!--		|<a href="{% url 'login' %}">Login</a>-->
<!--	</p>-->
<!--	{% endif %}-->