<!DOCTYPE html>
<html lang=en>

<head>
{% include 'Personal/snnipets/header.html' %}
</head>

<body>

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4"> </h1>
  <p class="lead">Basic User functionality ,Authentication,CRUD User Operations.</p>
</div>
<hr>

<div class="container">
	<div class="d-flex flex-column">
		<h4>Registered users:</h1>
		{% for user in accounts %}
			<p>{{user}}</p>
		{% endfor %}
	</div>
</div>

{% endblock %}
{% include 'Personal/snnipets/scripts.html' %}
</body>

<footer>
	<h2>This is the footer</h2>
</footer>

</html>